* {
    margin: 0;
    padding: 0;
}

.container {
    background: url(hogwarts\ 3.jpg);
    height: 100vh;
    background-size: 100% 100%;
    
}


.container .navbar {
    width: 100%;
    height: 120px;
    background: rgba(22, 112, 214, 0.4)
}


.navbar .logo {
    display: inline-block;
    margin-left: 75px;
    margin-top: 25px;
    
}

.navbar .logo a {
    text-decoration: none;
    font-size: 60px;
    font-family: 'Harry Potter', sans-serif;
    color: #f0c75e;
}

.navbar ul {
    float: right;
    margin-right: 20px;
}

.navbar ul li {
    list-style: none;
    display: inline-block;
    margin: 0 8px;
    line-height: 80px;

}

.navbar ul li a {
    color: white;
    text-decoration: none;
    font-size: 25px;
    padding: 6px 13px;
    font-family: 'Harry Potter', sans-serif;
    transition: .5s;
}

.navbar ul li a.active,
.navbar ul li a:hover {
    background: #ff6e00;
    border-radius: 10px;
}

.center h1, h2 {
    color: wheat;
    margin: 100px;
    width: 1000px;
    font-size: xx-large;
    font-family: 'Harry Potter', sans-serif;
    text-align: center;
}

.container .center {
    position: absolute;
    top: 50%;
    left: 50%; 
    transform: translate(-50%,-50%);
    font-family: sans-serif;
    user-select: none;
}

.center .buttons {
    margin: 35px 280px;
}

.buttons button {
    height: 150px;
    width: 200px;
    font-size: 18px;
    font-weight: bold;
    color: #ff6e00;
    background: none;
    border: none;
    cursor: pointer;
    outline: none;
    border-radius: 25px;
}

.buttons button:hover {
    background: #fff;
    transition: 1s;
}